<h1>DescriptiveTags#show</h1>
<p>Find me in app/views/descriptive_tags/show.html.erb</p>
Make reusable grid card system that will show the
art with these tags...
Or save it for search?  Implement then see...
