Show their art, following artists, new shit, prompt
to go to the home page, etc, brain storm later when
awake.

<h1>User dashboard plaecholder!</h1>

 <p>Show your art to the world!</p>
    <%= link_to "new", new_member_art_path(:member_id), class: 'btn btn-secondary' %>



