<h1>Arts#show</h1>
<p>Find me in app/views/arts/show.html.erb</p>
Fancy obviously.
Art on top with done by whomever underneath.
A partial reusable page/giant fucking card.
See other work by this artist...
